.rowGroup {
    width: 100%;
    text-align: justify;
    align-items: justify;
    justify-content: flex-start;
    margin-left: 0;
    display: flex;
}
.rowImage {
    min-width: 180px;
    height: 90px;
    border-radius: 11%;
} 
.titleGroup {
    font-weight: 400;
}
.btnIcon{
    position: relative;
}

.test {
    position: absolute;
    float: right;
    right: 0px;
    top: -50px;
}
.subscriptionButDiv {
    position: absolute;
    float: right;
    right: 0px;
    top: -50px;
}
.subscriptButDiv {
    position: relative;
    left: 51%;
    margin-bottom: 10px;
}
.imageGroup {
    height: 300px
}

@media(max-width: 995px) {
    .imageGroup {
        height: 280px
    }
}

@media(max-width: 767px) {
    .bigRow {
        display: flex;
    }
    .rowImage {
        width: 160px;
        margin-right: 0px;
    } 
    .secondPartGroup {
        width: 100%;
        text-align: justify;
        align-items: justify;
        justify-content: flex-start;
        margin-left: 0px;
        float: left;
    }
    .groupContent1 {
        margin-left: 17%;
        margin-right: 15%;
    }
    .subscriptButDiv {
        left: 17%;
    }
}
  
@media(max-width: 668px) {
    .subscriptionButDiv {
        margin-top: -3%;
        right: -20px;
    }
    .bigRow {
        display: row;
    }
    .rowGroup {
        max-width: 80%;
    }
    .rowImage {
        min-width: 90px;
        height: 90px;
    }
    .titleGroup {
        font-size: 17px;
    }
    .cityGroup {
        font-size: 12px;
        text-transform: none;
    }
    .textDescript {
        display: none;
    }
}

@media(max-width: 573px) {
    .groupContent1 {
        margin-left: 2%;
        margin-right: 2%;
    }
    .subscriptionButDiv {
        margin-top: -4%;
    }
    .subscriptButDiv {
        left: 2%;
    }
}

@media(max-width: 522px) {
    .subscriptionButDiv {
        margin-top: -6%;
    }
}

@media(max-width: 450px) {
    .subscriptionButDiv {
        margin-top: -11%;
    }
}





