.rowGroup {
    width: 100%;
    text-align: justify;
    align-items: justify;
    justify-content: flex-start;
    margin-left: 0;
    display: flex;
}
.rowImage {
    min-width: 180px;
    height: 90px;
    border-radius: 11%;
} 
.titleGroup {
    font-weight: 400;
}
.buttonJoin {
    margin-left: 200px;
    margin-bottom: 10px;
}
.btnIcon{
    position: relative;
}
.iconBut,
.unsubscribeBut {
    position: absolute;
    float: right;
    right: 20px;
    top: -50px;
}
.btnDiv {
    display: none;
}

.imageGroup {
    height: 300px
}

@media(max-width: 995px) {
    .buttonJoin {
        margin-left: 230px;
        margin-bottom: 10px;
    }
    .imageGroup {
        height: 280px
    }
}

@media(max-width: 835px) {
    .buttonJoin {
        margin-left: 200px;
        margin-bottom: 10px;
    }
}

@media(max-width: 767px) {
    .bigRow {
        display: flex;
    }
    .rowImage {
        width: 160px;
        margin-right: 0px;
    } 
    .secondPartGroup {
        /* margin-left: 200px; */
        width: 100%;
        text-align: justify;
        align-items: justify;
        justify-content: flex-start;
        margin-left: 0px;
        float: left;
    }

    .groupContent1 {
        margin-left: 17%;
        margin-right: 15%;
    }

    .groupBlock2 {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media(max-width: 668px) {
    .iconBut {
        display: none;
    }
    .unsubscribeBut {
        margin-top: -3%;
    }
    .bigRow {
        display: row;
    }
    .rowGroup {
        max-width: 80%;
    }
    .btnDiv {
        width: 20%;
        top: 50%;
        display: block;
    }
    .buttonJoin {
        position: absolute;
        float: right;
        margin-top: -12%;
        right: 20px;
        margin-bottom: 0px;
    }
    .rowImage {
        width: 150px;
        height: 80px;
    }
    .titleGroup {
        font-size: 17px;
    }
    .cityGroup {
        font-size: 12px;
        text-transform: none;
    }
    .textDescript {
        display: none;
    }
}

@media(max-width: 573px) {
    .groupContent1 {
        margin-left: 2%;
        margin-right: 2%;
    }
    .groupBlock2 {
        margin-left: 0%;
        margin-right: 0%;
    }
    .unsubscribeBut {
        margin-top: -4%;
    }
}

@media(max-width: 522px) {
    .buttonJoin {
        margin-top: -16%;
    }
    .unsubscribeBut {
        margin-top: -5%;
    }
}


