.rowGroup {
    width: 100%;
    padding-top: 10px;
}
.rowImage {
    width: 180px;
    height: 90px;
} 

@media(max-width: 668px) {
    .rowImage {
        width: 150px;
        height: 80px;
    }
}


