@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Poppins&display=swap');
::-webkit-scrollbar{
    display: none;
}

.Charbel-div-center-col{/* Permet de diposer les noeuds enfants (directes de l'élément) verticalement et de les centrer*/
    display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.Charbel-div-center-line-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.InterviewQuestions{
    margin-top: 3rem;
    width: 100%;
    height: 100%;
}
.AnswerContainer{
    width: 45%;
    height: auto;   
}
.InterviewQuestionsIMG{
    width: 45%;
    height: auto;
}
.InterviewQuestionsIMG img{
    width: 100%;
    height: auto;
}
.Fill-Container-Relative{
    width: 100%;
    height: 100%;
    position: relative;
}

.QuestionContainer {
    padding: 1.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: 
    1.2rem;
}

.BoxContent .title{
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Domine', serif;
    color: indigo;
    font-weight: bold;
}


.Interview-View-Mode{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 80%;
    height: auto;
    overflow-y: scroll;
}
.View-Question-Reponse{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
}

.View-Question-Reponse .Question{
    font-family: 'Domine', serif;
    font-size: 17px;
    font-weight: bold;
}

.View-Question-Reponse .Reponse{
    font-family: 'Poppins', sans-serif;
}

.scroll{
    overflow: scroll;
    float: left; }




.Question_Btns_Container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 20px;
    width: 100%;
    height: auto;
}


.Question_Btns_Container button{
  border: none;
  outline: none;
  padding: 0.88rem 1.5rem;
  background: blue;
  border-radius: 0.5rem;
  color: #fff;
}

.Question_Btns_Container button.NextBtn{
    background: #088340;
}
.Question_Btns_Container button.BackBtn{
    margin-right: 20px;
}







.QuestionContent h4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    width: 100%;
    margin-bottom: 15px;
}
.QuestionContent form{
    width: 100%;
    height: auto;
}
.QuestionContent form input{
    width: 100%;
    height: 50px;
    background: var(--fieldBackground);
    border: 1px solid #000;
    border-radius: 0.68rem;
    padding: 1rem;
    padding-left: 3rem;
    justify-content: flex-start;
    text-align: start;
}
@media screen and (max-width: 991px){
    .InterviewQuestions{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .AnswerContainer{
        width: 85%;
        height: auto;
        position: relative;
    }
    .InterviewQuestionsIMG{
        width: 85%;
        height: auto;
        position: relative;
    }
    .AnswerContainer{
        height: 300px !important;
    }
    .InterviewQuestionsIMG{
        display: none;
    }
}