@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Poppins&display=swap');

.Charbel-div-center-col{/* Permet de diposer les noeuds enfants (directes de l'élément) verticalement et de les centrer*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Charbel-div-center-line{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Journal-Start-Text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    margin-top: 10px;
    width: 100%;
}
.Fill-Container{
    width: 100%;
    height: auto;
}


.Journal{
    margin-top: 3rem;
}
.Journal .Journal_Header .Logo{
    width: 100px;
    height: auto;
}
.Logo img{
    width: 70%;
    height: auto;
}

.Journal_Main_Title {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: indigo;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    font-family: 'Domine', serif;
}

.Journal_Article{
    padding-bottom: 2rem;
    border-bottom: 1px solid indigo;
}

.Journal_Articles_Container{
    padding: 2rem 0;
}

.Journal_Articles_Img{
    width: 45%;
    height: auto;
}
.Journal_Articles_Text{
    width: 45%;
    height: auto;
}
.Journal_Articles_Img img{
    width: 80%;
    height: auto;
}
.Journal_Articles_Text{
    padding: 1.5rem;
}

.Journal_Articles_Text_Title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: indigo;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    font-family: 'Domine', serif;
    text-transform: capitalize;
}

.Journal_Articles_Text_Paragraph{
    font-family: 'Poppins', 'serif';
}
.Journal_Articles_Text_Btn button{
    padding: 0.88rem 1.2rem;
    color: #ffffff;
    background: indigo;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    font-family: 'Domine', serif;
    text-transform: capitalize;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 1.2rem;
}


@media screen and (max-width: 968px){
    .Journal_Article{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
    .Journal_Articles_Text{
        width: 60%;
    }
}
@media screen and (max-width: 968px){
    .Journal_Articles_Img{
        width: 75%;
        height: auto;
    }
    .Journal_Articles_Text{
        width: 75%;
        height: auto;
    }
}
@media screen and (max-width: 650px){
    .Journal_Articles_Img{
        width: 85%;
        height: auto; 
    }
    .Journal_Articles_Text{
        width: 85%;
        height: auto;
    }
    .Journal_Articles_Text_Btn{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin-top: 10px;
    }
    .Journal_Articles_Text_Paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin-top: 10px;
    }
    .Journal_Articles_Text_Title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin-top: 10px;
    }
}
@media screen and (max-width: 400px){
    .Journal_Articles_Img{
        width: 95%;
        height: auto;
    }
    .Journal_Articles_Text{
        width: 95%;
        height: auto;
    }
    .Journal_Articles_Text_Title{
        font-size: 1rem;
    }
}
@media screen and (max-width:480px){
    .Journal_Header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .Logo{
        margin-bottom: 1.5rem;
    }
    .Journal_Main_Title {
        font-size: 1.1rem;
    }
}