.ListBoxContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AddingForm{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Dan-input-text{
    width: 80%;
    padding: 0.68rem;
    border: 1px solid #000;
    background: var(--fieldBackground);
    margin-right: 10px;
}
.ListBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ListBoxContent{
    width: 100%;
    padding: 0.68rem;
    border: none;
    background: var(--fieldBackground);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.ListBoxContent .Dan-select-multiple{
    border: none;
    background: transparent;
    width: 100%;
}
.Dan-select-multiple option{
    padding: 0.68rem;
}

.ListBoxBtns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ListBoxBtns button{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px #000;
}