

.EventData {
    display:none ;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

.EventData.open {
    display:flex ;
    background-color: #ffffb2 ;
    right: 100px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}


.Dan_icon {
    color: #495584;
    font-size: 23px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
}



.Dan_color{
    background-color: #feefd6 !important;
}




.EditCompany {
    display:none ;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

.EditCompany.open {
    display:flex ;
    /*right: 100px;*/
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.EditActivity {
    display:none ;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

.EditActivity.open {
    display:flex ;
    /*right: 100px;*/
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.add-space {
    margin: 25px;
}


.add-vspace-5 {
    margin-top: 5px;
}

.add-vspace-10 {
    margin-top: 10px;
}

.add-vspace-15 {
    margin-top: 15px;
}

.add-vspace {
    margin-top: 30px;
}



.add-hspace-5 {
    margin-left: 5px;
}

.add-hspace-10 {
    margin-left: 10px;
}


.add-hspace-15 {
    margin-left: 15px;
}

.add-hspace-30 {
    margin-left: 30px;
}

.add-hspace-50 {
    margin-left: 50px;
}


.min-height {
    height:45px ;
}

.no-border { border: none !important; }

.not-visible {
    display:none ;
}


.center { text-align: center; }

.w-66 { width:66% ;}
.w-55 { width:55% ;}
.w-50 { width:50% ;}



.wrapper {
    display:flex;
    justify-content: center;
}





.form-control-Dan {
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5875;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eaedf1;
    border-radius: 7px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-Dan::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control-Dan::-webkit-file-upload-button {
    color: #fff;
    background-color: var(--primary-bg-color);
    transition: none;
    line-height: 1.9;
}

.form-control-Dan:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: var(--primary-bg-color);
}

.form-control-Dan:focus {
    color: #6f6e6e;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
    border-color: #eaedf1;
}

.form-control-Dan::-webkit-input-placeholder,
.form-control-Dan::-moz-placeholder,
.form-control-Dan:-ms-input-placeholder,
.form-control-Dan::-ms-input-placeholder {
    color: #76839a;
    opacity: 1;
}

.form-control-Dan:disabled,
.form-control-Dan[readonly] {
    background-color: #f5f6fb;
    opacity: 1;
}

.not-resizable {
    resize: none;
}

